# config file for the index generator
# structure is key:value
# lines starting with hashes are comments

# Directory where data files exist
DATA_FILES_DIRECTORY:data

# Directory where to generate the index file
INVERTED_INDEX_DIRECTORY:data/generated

# The name of the index file
INVERTED_INDEX_FILE_NAME:index.txt

# Controls if the index should be generated or not
# yes        : generate index always
# no         : skip generating index file
# if_missing : generate index if it doesn't exist (default)
SHOULD_GENERATE_INDEX:if_missing